@model Blog.Models.ViewModels.CreatePostViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<h1>CreatePost</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tittel</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Innhold</label>
                <textarea asp-for="Content" class="form-control col" style="height: 300px;"></textarea>
                <!--input asp-for="Content" class="form-control" /-->
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="BlogId" type="hidden" class="form-control" />
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Blog" asp-action="Index">&#8592 Tilbake til alle blogger</a>
    @*<a asp-action="ReadBlog">&#8592 Blogg oversikt<br></a>
        <p>&#8592 @Html.ActionLink("Innlegg", "ReadBlog", new { id = Model.BlogId })</p>*@

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}