@{
    ViewBag.Title = "Testing JQuery and Ajax";
}

<h2>@ViewBag.Title</h2>
<hr />


@section scripts{
    <script>

        setInterval("Update()", 10000);

//-------------------------View all comments-----------------------------------------------//
        function showAll() {
            listComments(function(comments) {

                var strComments = "";
                $.each(comments,
                    function(index, comment) {
                        strComments += `<tr><td>${comment.commentId} ${comment.text}</td></tr>`;
                    });
                $("#comments").html(strComments);

            });


            function listComments(callback) {
                $.ajax({
                    url: "/Api/CommentsWebApi/",
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function(comments) {
                    callback(comments);
                });
            }
        }

//---------------------------View all comments on post-------------------------------------//
        function get(id) {

            //contact = { "Name": "Petter Smart", "Address": "Narvik", "Mobile": "999999", "Email": "test1@gmail.com" };
            listCommentOnPost(function(products) {

                var strProducts = "";
                $.each(products,
                    function(index, comment) {
                        strProducts += `<tr><td>${comment.commentId} ${comment.text}</td></tr>`;
                    });
                $("#commentsOnPost").html(strProducts);

            });

            function listCommentOnPost(callback) {
                $.ajax({
                    url: "/Api/CommentsWebApi/" + id,
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function(comments) {
                    callback(comments);
                });
            }

        }

        $(document).ready(function() {

            $("#comments").html("<p>Venter på data fra server" + "</p>");
            $("#commentsOnPost").html("<p>Venter på data fra innlegg..." + "</p>");
            showAll();
            //add();
            get(57);
        });
    </script>
}

<div></div>

<table class="table">
    <thead>
    <tr>
        <th>
            ID Kommentarer på alle poster
        </th>
    </tr>
    </thead>
    <tbody id="comments"></tbody>
</table>
<hr />
<div id="commentsOnPost"></div>